{%  extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
    <div class="container my-3">
        {% if messages %}
        <div class="alert alert-danger my-3" role="alert">
            {% for msg in messages %}
                <strong>{{ msg.tags }}</strong>
                <ul><li>{{ msg.message }}</li></ul>
            {%  endfor %}
        </div>
        {% endif %}
        <h2 class="border-bottom py-2">{{ question.subject }}</h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text">{{ question.content|mark }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start mx-2">
                        <div class="mb-2">modified at</div>
                        <div>{{ question.modify_date }}</div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">{{ question.author.username }}</div>
                        <div>{{ question.create_date }}</div>
                    </div>
                </div>
                <div class="my-3">
                    <a href="javascript:void(0)" class="recommend btn btn-sm btn-outline-secondary" data-uri="{% url 'pybo:question_vote' question.id %}">
                        추천
                        <span class="badge rounded-pill bg-success">{{ question.voter.count }}</span>
                    </a>
                    {% if request.user == question.author %}
                    <a href="{% url 'pybo:question_modify' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary delete" data-uri="{% url 'pybo:question_delete' question.id%}">삭제</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <h5 class="border-bottom my-3 py-2">{{ question.answer_set.count }} 개의 답변이 있습니다.</h5>
        {% for a_from_q in question.answer_set.all %}
            <a id="answer_{{ a_from_q.id }}"></a>
            {% if a_from_q.id == answer.id %}
{#            {% block answer_form %}#}
{#            {% endblock answer_form %}#}
            <form method="post">
                {% csrf_token %}
                {%  include 'form_errors.html' %} <!-- 오류 표시 -->
                <div class="mb-3">
                    <label for="content" class="form-label">답변 내용</label>
                    <textarea name="content" id="content" rows="10" class="form-control"
                              {% if not user.is_authenticated %}disabled{% endif %}>{{ form.content.value|default_if_none:'' }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-5">저장하기</button>
            </form>
            {% else %}
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-text">{{ a_from_q.content|mark }}</div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start mx-2">
                            <div class="mb-2">modified at</div>
                            <div>{{ a_from_q.modify_date }}</div>
                        </div>
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">{{ a_from_q.author.username }}</div>
                            <div>{{ a_from_q.create_date }}</div>
                        </div>
                    </div>
                    <div class="my-3">
                        <a href="javascript:void(0)" class="recommend btn btn-sm btn-outline-secondary" data-uri="{% url 'pybo:answer_vote' a_from_q.id %}">
                            추천
                            <span class="badge rounded-pill bg-success">{{ a_from_q.voter.count }}</span>
                        </a>
                        {% if request.user == a_from_q.author %}
                        <a href="{% url 'pybo:answer_modify' a_from_q.id %}#answer_{{ a_from_q.id }}" class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary delete" datag-uri="{% url 'pybo:answer_delete' a_from_q.id%}">삭제</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {%  endfor %}

        <form action="{%  url 'pybo:answer_create' question.id %}" method="post">
        {%  csrf_token %}
        {%  include 'form_errors.html' %} <!-- 오류 표시 -->
        <div class="mb-3">
            <label for="content" class="form-label">답변 내용</label>
            <textarea name="content" id="content" rows="10" class="form-control" {% if not user.is_authenticated %}disabled{% endif %}></textarea>
        </div>
        <input type="submit" value="답변 등록" class="btn btn-primary">
        </form>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function (element) {
    element.addEventListener("click", function () {
        if (confirm("정말 삭제하시겠습니까?")){
            location.href = this.dataset.uri;
        };
    });
});

const vote_elements = document.getElementsByClassName("recommend");
Array.from(vote_elements).forEach(function(element){
    element.addEventListener("click", function(){
       if (confirm("정말 추천하시겠습니까?")){
           location.href = this.dataset.uri;
       }
    });
});
</script>
{% endblock %}